
@media only screen and (max-width: 1150px) {
    .all-cards{
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
  }
    }
  @media only screen and (max-width: 1000px) {
      .login {
          width: 35%;
          margin: 15% auto;
      }
      .login-option button{
          font-size: .99rem;
      }
      .crousel-img{
          height: 100vh;
      }
    }
  @media only screen and (max-width: 900px) {
      .login {
          width: 70%;
          margin: 50% auto !important;
      }
      .login-option button{
          font-size: .8rem;
      }
      .crousel-img{
          height: 100vh;
      }
      .signup{
        margin: 40% auto !important;
      }
    }
  @media only screen and (max-width: 800px) {
      .login {
          width: 45%;
          margin: 25% auto;
      }
      .login-option button{
          font-size: .79rem;
      }
      .crousel-img{
          height: 100vh;
      }
      .signup{
        margin: 6.5% auto !important;
      }
    }
  @media only screen and (max-width: 700px) {
      .login {
          width: 55%;
          margin: 30% auto;
      }
      .login-option button{
          font-size: .69rem;
      }
      .crousel-img{
          height: 100vh;
      }
      .signup{
        margin: 7% auto !important;
      }
    }
  @media only screen and (max-width: 600px) {
      .login {
          width: 65%;
          margin:35% auto;
      }
      .signup{
        margin: 9% auto !important;
      }
    }
  @media only screen and (max-width: 450px) {
      .login {
          width: 90%;
          margin: 50% auto !important;
      }
      .crousel-img{
          height: 100vh;
      }
      .signup{
        margin: 40% auto !important;
      }
      #company-name{
        font-size: .8rem !important;
      }
      .graph p{
        margin-top: 0;
        margin-bottom: 1rem;
        margin-bottom: 0px;
        font-size: 10px;
        text-align: center;
        padding-top: 5px;
    }
    .rect-box-1, .rect-box-2{
        width: 70px;
    }
    }
    /*Responsive CSS*/
@media only screen and (max-width: 1250px) {
    .Home{
        /* grid-template-rows: 2fr 1fr; */
        grid-template-columns: 2fr 1fr;
    }
    .css-1v5z18m {
        width: 200px !important;
    }
    .dashboard-card{
        display: flex;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .promotion{
        display: none;
    }
}
@media only screen and (max-width: 900px) {
    .aside{
        display: none;
    }
    .Home{
        display: block;
    }
    .dashboard-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .filter-button{
        display: flex;
        justify-content: end;
        padding: 0rem 1rem
    }
}
@media only screen and (max-width: 1150px) {
    .main-div{
        display: block;
    }
    .sidebar{
        display: none;
    }
}
@media only screen and (max-width: 725px) {
   .cards{
        width: 17rem !important;
   }
}
@media only screen and (max-width: 600px) {
    .cards{
        width: 14rem !important;
        height: 28rem !important;
   }
    .job-details{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .card-footer{
        display: block;
    }
    .applicantion-dets{
        display: flex;
        justify-content: space-between;
    }
    .apply-now{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem
    }
    .button{
        margin-left: 0!important;
    }
}
@media only screen and (max-width: 530px) {
    .dashboard-card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards{
        width: 20rem !important;
        height: 32rem !important;
   }
   .graph-container{
    flex-direction: column;
    align-items: center;
   }
   .graph-body{
    width: 100%;
   }
}
@media only screen and (max-width: 450px) {
    .tech-bubble{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .Home{
        padding: 0rem !important;
    }
    .filter-button{
        margin-top: 1rem;
    }
}