#abc:focus, .login-option button{
    transition: none !important;
    outline: none !important;
}
.login {
    width: 30%;
    margin: 10% auto;
    padding: 1rem;
    border: 1px solid #ededed;
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.1rem 0.4rem 0.4rem #dedede;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#cred-field {
    margin: 1rem;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.login-option button{
    background: none;
    font-size: 1rem;
}
.login-option button:hover{
    border: none;
}
.margin{
    margin: 1rem;
}
.width{
    width: 100%;
}
.padding{
    padding: 1rem;
}
.dark{
    background-color: black !important;
}
.padding-right{
    padding-right: .5rem;
}

@media only screen and (max-width: 1000px) {
    .login {
        width: 35%;
        margin: 15% auto;
    }
    .login-option button{
        font-size: .99rem;
    }
  }
@media only screen and (max-width: 900px) {
    .login {
        width: 40%;
        margin: 20% auto;
    }
    .login-option button{
        font-size: .8rem;
    }
  }
@media only screen and (max-width: 800px) {
    .login {
        width: 45%;
        margin: 25% auto;
    }
    .login-option button{
        font-size: .79rem;
    }
  }
@media only screen and (max-width: 700px) {
    .login {
        width: 55%;
        margin: 30% auto;
    }
    .login-option button{
        font-size: .69rem;
    }
  }
@media only screen and (max-width: 600px) {
    .login {
        width: 65%;
        margin:35% auto;
    }
  }
@media only screen and (max-width: 450px) {
    .login {
        width: 75%;
        margin: 40% auto;
    }
  }
#navbar{
    background-color: black !important;
}