#abc:focus, .login-option button{
    transition: none !important;
    outline: none !important;
}
.login {
    width: 30%;
    margin: 8% auto;
    padding: 1rem;
    border: 1px solid #ededed;
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.1rem 0.4rem 0.4rem #dedede;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#cred-field {
    margin: 1rem;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.login-option button{
    background: none;
    font-size: 1rem;
}
.login-option button:hover{
    border: none;
}
.margin{
    margin: 1rem;
}
.width{
    width: 100%;
}
.padding{
    padding: 1rem;
}
.dark{
    background-color: black !important;
}
.padding-right{
    padding-right: .5rem;
}
.flex-column{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}